* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 70%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3em;
}

main {
    width: calc(100% - 55%);
    height: 40rem;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.slider {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}

.slider input {
    display: none;
}

.all-pictures {
    width: 500%;
    display: flex;
}
.picture {
    width: 20%;
    transition: 0.4s;
}

.picture img {
    height: 35rem;
    width: 100%;
}

.radio-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.navigation-and-info{
    display: flex;
    justify-content: space-between
}

.mems-info {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    gap: 20px;
}

.mem-info {
    width: 30rem;
    transition: 0.4s;
    height: 3rem;
}

     /* css for slide navigation */
.navigation {
    display: flex;
    gap: 10px;  
    justify-content: flex-end;
    height: 1.5vh;
}
  
.navigation-button {
    border: 3px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
  
.navigation-button:hover {
    background: black;
    }

#radio-1:checked~.all-pictures > .first {
    margin-left: 0;
}
  
#radio-2:checked~.all-pictures > .first {
    margin-left: -20%;
}
  
#radio-3:checked~.all-pictures > .first {
    margin-left: -40%;
}
  
#radio-4:checked~.all-pictures > .first {
    margin-left: -60%;
}


#radio-1:checked~.navigation-and-info > .mems-info > .second {
    margin-top: 0;
}
  
#radio-2:checked~.navigation-and-info > .mems-info > .second {
    margin-top: -9%;
}
  
#radio-3:checked~.navigation-and-info > .mems-info > .second {
    margin-top: -17%;
}
  
#radio-4:checked~.navigation-and-info > .mems-info > .second{
    margin-top: -27%;
}
